<p id="notice"><%= notice %></p>

<div id="esquerda">
	<h2><%= @category.titulo %></h2>
	<p><div style="width: 60px; height: 12px; background-color: <%= @category.cor %>; border: solid 1px #999;"></div></p>
	<p><%= @category.descricao %></p>

	<%= link_to "Voltar", categories_path %>
	<% if (@category.titulo != "Geral") %>
	 | <%= link_to "Editar", edit_category_path(@category) %>
	 | <%= link_to "Deletar", @category, method: :delete, data: { confirm: "Apagar.Confirma?" } %>
	<% end %>
</div>
