<%= form_for(@part) do |f| %>
	<% if @part.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

			<ul>
				<% @part.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%#= f.label :valor %>
		<p>Valor</p>
		<%= f.text_field :valor, required: "required", autofocus: "autofocus", pattern: "[0-9]*[.]?[0-9]?[0-9]?", title: "1.99" %>
	</div>
	
	<div class="field">
		<%#= f.label :data %>
		<p>Data</p>
		<%= f.date_select :data %>
	</div>
		
	<div class="field">
		<%#= label_tag :confirmacao %>
		<p>Confirmação</p>
		<%= select_tag :confirmacao, options_for_select([["Efetivado", 1], ["Nao efetivado", 0]]) %>
	</div>
	
	<div class="actions">
		<%= f.submit 'Salvar', class: 'botao isolado'%>
	</div>
<% end %>
