<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @part.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @part.data %>
</p>

<p>
  <strong>Confirmacao:</strong>
  <%= @part.confirmacao %>
</p>

<%= link_to 'Editar', edit_part_path(@part) %> |
<%= link_to 'Voltar', @part.entry %>