<%= form_for(@entry) do |f| %>
	<% if @entry.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

			<ul>
				<% @entry.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%#= f.label :titulo %>
		<p>Título</p>
		<%= f.text_field :titulo, maxlength: "30", placeholder: "Título", required: "required", autofocus: "autofocus" %>
	</div>
	
	<div class="field">
		<%#= f.label :descricao %>
		<p>Descrição</p>
		<%= f.text_area :descricao, maxlength: "30", placeholder: "descrição"%>
	</div>
	
	<div class="actions">
		<%= f.submit 'Salvar' , class: 'botao isolado' %>
	</div>
<% end %>
