<%= form_for(@entry) do |f| %>
	<% if @entry.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

			<ul>
				<% @entry.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<!-- , maxlength: "30", placeholder: "Título", required: "required", autofocus: "autofocus" -->

	<table cellspacing="0">
		<tr>
			<td colspan="2">
				<%= label_tag(:titulo, "Titulo") %><br/>
				<%= text_field_tag :titulo %>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<%= f.label :descricao %><br/>
				<%= f.text_area :descricao, cols: "35", rows: "3" %>
			</td>
		</tr>
		
		<tr>
			<td><%= label_tag(:tipo, "Tipo") %></td>
			<td><%= f.select :tipo, ([["Despesa", 0], ["Receita", 1]]) %></td>
		</tr>
		
		<tr>
			<td><%= f.label :category_id %></td>
			<td><%= f.collection_select(:category_id, current_user.categories.order(:titulo) , :id, :titulo , {:prompt => "Selecione a categoria"} ) %></td>
		</tr>
		
		<tr>
			<td><%= f.label :periodicidade %></td>
			<td><%= f.select  :periodicidade, ([["Avulsa", 0], ["Parcelada", 1], ["Fixa", 2]]) %></td>
		</tr>
		
		<!-------------------------------------------------------------------->
		
		<tr>class="parcelas_field
			<td>
				<%= label_tag(:valor, "Valor total", id: "valor") %><br/>
				<%= label_tag :parcelas %>
			</td>
			<td>
				<%= text_field_tag :valor %><br/>
				<%= number_field_tag :parcelas %>
			</td>
		</tr>
		
		<tr>
			<td><%= label_tag :data %></td>
			<td><%= date_select("data", "data", selected: Date.today) %></td>
		</tr>
		
		<tr>
			<td><%= label_tag :confirmacao %></td>
			<td><%= select_tag :confirmacao, options_for_select([["Efetivado", 1], ["Nao efetivado", 0]]) %></td>
		</tr>
		
		<tr>
			<td colspan="2"><%= f.submit %></td>
		</tr>
	</table<
<% end %>
