<div id="colunaEsquerda">
	<p id="notice"><%= notice %></p>
	
	<h2>
		<% if @entry.tipo == 0 %>
			<div class="despesa" style="float: left;">Despesa</div>
		<% else %>
			<div class="receita" style="float: left;">Receita</div>
		<%end%>
		<%= @entry.titulo %>
	</h2>
	
	<p>
		<strong>Andamento:</strong> R$<span id="valorEfetivado"><%= @entry.valor_efetivado %></span> de R$<span id="valorTotal"><%= @entry.valor %></span>
		<div class="valorBarra">
			<div class="valorPago" style="width: <%= @entry.valor_razao_efetivado %>px; background-color: <%= @entry.category.cor %>;"></div>
		</div>
	</p>

	<p>
		<strong>Periodicidade:<br/></strong>
		<% if (@entry.periodicidade == 0) %>
			Avulsa
		<% elsif (@entry.periodicidade == 1) %>
			Parcelada
		<% else %>
			Fixa
		<% end %>
	</p>
	
	<p><%= @entry.descricao %></p>

	<br/>
	
	<%= link_to "Voltar", entries_path %> |
	<%= link_to "Editar", edit_entry_path(@entry) %> |
	<%= link_to "Deletar", @entry, method: :delete, data: { confirm: "Deseja apagar este lancamento?" } %>
</div>

<div id="colunaDireita">
	<table cellspacing="0">
		<thead>
			<tr>
				<th>Valor</th>
				<th>Data</th>
				<th>Estado</th>
			</tr>
		</thead>

		<tbody id="renderParts">
			<%= render(@entry.parts) %>
		</tbody>
	</table>
</div>