<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @entry.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @entry.descricao %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @entry.tipo %>
</p>

<p>
  <strong>Periodicidade:</strong>
  <%= @entry.periodicidade %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
