<h1>Listing entries <% @entries.class %></h1>

<table id="tabelaLancamento" cellspacing="0">
	<thead>
		<tr>
			<th id="tipo">Tipo</th>
			<th id="cat">Categ.</th>
			<th>Titulo</th>
			<th colspan="2">Valor</th>
			<th>Periodicidade</th>
		</tr>
	</thead>

	<tbody>
		<% @entries.each do |entry| %>
			<tr>
				<td>
					<% if entry.tipo == 0 %>
						<div class="despesa">Despesa</div>
					<% else %>
						<div class="receita">Receita</div>
					<%end%>
				</td>
				<td class="cor"><div class="corCategoria" style="background-color: <%= entry.category.cor %>;"></div></td>
				<td><%= link_to entry.titulo, entry %> </td>
				<td>R$ <%= entry.valor_total %></td>
				<td>
					<div class="valorLancamento">
						<div class="valorPago" style="width: <%= entry.valor_razao_efetivado %>px; background-color: <%= entry.category.cor %>;"></div>
						<div class="valorPendente" style="width: <%= entry.valor_razao_pendente %>px; background-color: <%= entry.category.cor %>;"></div>
					</div>
				</td>
				<td>
					<% if entry.periodicidade == 0 %>
						Avulsa
					<% else %>
						<% if entry.periodicidade == 1 %>
							Parcelada
						<% else %>
							Fixa
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path, class: "botao isolado" %>
