<h1>Listing entries</h1>

<table cellspacing="0">
	<thead id="tabelaLancamento">
		<tr>
			<th id="tipo">Tipo</th>
			<th id="cat">Categ.</th>
			<th id="titulo">Titulo</th>
			<th>Descricao</th>
			<th id="period">Periodicidade</th>
			<th id="parc" colspan="2">Parcelas</th>
		</tr>
	</thead>

	<tbody>
		<% @entries.each do |entry| %>
			<tr>
				<td>
					<% if entry.tipo == 0 %>
						<div class="despesa">Despesa</div>
					<% else %>
						<div class="receita">Receita</div>
					<%end%>
				</td>
				<td class="cor"><div class="corCategoria" style="background-color: <%= entry.category.cor %>;"></div></td>
				<td><%= link_to entry.titulo, entry %> </td>
				<td><%= entry.descricao %></td>
				<td>
					<% if entry.periodicidade == 0 %>
						Avulsa
					<% else %>
						<% if entry.periodicidade == 1 %>
							Parcelada
						<% else %>
							Fixa
						<% end %>
					<% end %>
				</td>
				<td class="mostrarMais" id="exp<%= entry.id %>">
					<p class="expandir">+</a>
				</td>
				<td class="parc">
					<table cellspacing="0">
						<% entry.parts.each do |part| %>
							<tr class="<%= entry.id %>" id="<%= part.id %>">
								<td class="valor">R$ <%= part.valor %></td>
								<td class="data"><%= part.data %></td>
								<!-- part.data.month -->
							</tr>
						<% end %>
					</table>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path, class: "botao isolado" %>
