<h1>Metas</h1>

<table id="tabelaLancamento" cellspacing="0">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Categoria</th>
      <th>Descricao</th>
      <th>Valor</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= link_to goal.titulo, edit_goal_path(goal) %></td>
        <td class="cor"><div class="corCategoria" style="background-color: <%= goal.category.cor %>;"></div></td>
        <td><%= goal.descricao %></td>
        <td>R$ <%= goal.valor %> </td>
        <td><%= goal.inicio %></td>
        <td><%= goal.fim %></td>
        <td><% if goal.estado == 0 %>
              <p>Ativa<p></td>
                <% elsif goal.estado == -1%>
                  <p>Fechada sem sucesso.<p></td>
                <% else %>
                  <p>Fechada com sucesso.</p>
            <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar Meta', new_goal_path , class: "botao isolado"%>
