<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @goal.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @goal.descricao %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @goal.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @goal.fim %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @goal.estado %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
