<%= form_for(@category) do |f| %>
	<% if @category.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

			<ul>
				<% @category.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<p>Título</p>
		<%#= f.label :titulo %>
		<%= f.text_field :titulo, maxlength: "30", placeholder: "Título", required: "required", autofocus: "autofocus" %>
	</div>
	
	<div class="field">
		<p>Cor</p>
		<div id="cores">
			<table>
				<tr>
					<td><%= f.radio_button :cor, "#000000", :checked => true %></td>
					<td><div class="corCategoria" style="background-color: #000000;"></div></td>
					<td><%= f.radio_button :cor, "#444444" %></td>
					<td><div class="corCategoria" style="background-color: #444444;"></div></td>
					<td><%= f.radio_button :cor, "#888888" %></td>
					<td><div class="corCategoria" style="background-color: #888888;"></div></td>
				</tr>
				
				
				</tr>
				<tr>
					<td><%= f.radio_button :cor, "#003399" %></td>
					<td><div class="corCategoria" style="background-color: #003399;"></div></td>
					<td><%= f.radio_button :cor, "#0066FF" %></td>
					<td><div class="corCategoria" style="background-color: #0066FF;"></div></td>
					<td><%= f.radio_button :cor, "#00CCFF" %></td>
					<td><div class="corCategoria" style="background-color: #00CCFF;"></div></td>
				</tr>
				
				
				<tr>
					<td><%= f.radio_button :cor, "#00CC00" %></td>
					<td><div class="corCategoria" style="background-color: #00CC00;"></div></td>
					<td><%= f.radio_button :cor, "#009900" %></td>
					<td><div class="corCategoria" style="background-color: #009900;"></div></td>
					<td><%= f.radio_button :cor, "#47D147" %></td>
					<td><div class="corCategoria" style="background-color: #47D147;"></div></td>
				</tr>
				
				
				<tr>
					<td><%= f.radio_button :cor, "#CC0000" %></td>
					<td><div class="corCategoria" style="background-color: #CC0000;"></div></td>
					<td><%= f.radio_button :cor, "#CC3300" %></td>
					<td><div class="corCategoria" style="background-color: #CC3300;"></div></td>
					<td><%= f.radio_button :cor, "#FF6666" %></td>
					<td><div class="corCategoria" style="background-color: #FF6666;"></div></td>
				</tr>
				
				
				<tr>
					<td><%= f.radio_button :cor, "#CC9900" %></td>
					<td><div class="corCategoria" style="background-color: #CC9900;"></div></td>
					<td><%= f.radio_button :cor, "#FFCC00" %></td>
					<td><div class="corCategoria" style="background-color: #FFCC00;"></div></td>
					<td><%= f.radio_button :cor, "#FFFF66" %></td>
					<td><div class="corCategoria" style="background-color: #FFFF66;"></div></td>
				</tr>
				
				
				<tr>
					<td><%= f.radio_button :cor, "#9900CC" %></td>
					<td><div class="corCategoria" style="background-color: #9900CC;"></div></td>
					<td><%= f.radio_button :cor, "#FF00FF" %></td>
					<td><div class="corCategoria" style="background-color: #FF00FF;"></div></td>
					<td><%= f.radio_button :cor, "#FF99FF" %></td>
					<td><div class="corCategoria" style="background-color: #FF99FF;"></div></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="field">
		<p>Descrição</p>
		<%= f.text_area :descricao, cols: "35", rows: "3" %>
	</div>
	
	<div class="actions">
		<%= f.submit 'Criar categoria', class: 'botao isolado' %>
	</div>
<% end %>
