<h1>Lista de Categorias</h1>

<table id="tabelaCategoria" cellspacing="0px">
  <thead>
    <tr>
      <th class="cor">Cor</th>
      <th class="titulo">Título</th>
      <th class="descricao">Descrição</th>
	  <th colspan="2"><div class="receita"></div>Receita atual</th>
	  <th colspan="2"><div class="despesa"></div>Despesa atual</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td class="cor"><div class="corCategoria" style="background-color: <%= category.cor %>;"></div></td>
        <td class="titulo"><%= link_to category.titulo, category %></td>
        <td class="descricao"><%= truncate(strip_tags(category.descricao), length: 80) %></td>
        <td class="valorReceita">R$<%= category.valor_receita_mes(Date.today) %></td>
        <td><%= number_with_precision(category.valor_razao_receita_mes(Date.today), precision: 1) %>%</td>
        <td class="valorDespesa">R$<%= category.valor_despesa_mes(Date.today) %></td>
        <td><%= number_with_precision(category.valor_razao_despesa_mes(Date.today), precision: 1) %>%</td>
      </tr>
    <% end %>
  </tbody>
  
  <tfoot>
    <tr>
	  <td colspan="3">Total</td>
	  <td colspan="2">R$<%= current_user.receita_mes(Date.today) %></td>
	  <td colspan="2">R$<%= current_user.despesa_mes(Date.today) %></td>
	</tr>
  </tfoot>
</table>

<br>

<%= link_to 'Nova Categoria', new_category_path, class: "botao isolado" %>
