<div id="colunaEsquerda">
	<p id="notice"><%= notice %></p>
	
	<h2><%= @category.titulo %></h2>
	<p><div style="width: 60px; height: 12px; background-color: <%= @category.cor %>; border: solid 1px #999;"></div></p>
	<p><%= @category.descricao %></p>

	<%= link_to "Voltar", categories_path %>
	<% if (@category.titulo != "Geral") %>
	 | <%= link_to "Editar", edit_category_path(@category) %>
	 | <%= link_to "Deletar", @category, method: :delete, data: { confirm: "Deseja apagar esta categoria?" } %>
	<% end %>
</div>

<div id="colunaDireita">
	<h2>Lançamentos neste mês</h2>
	<table id="tabelaLancamento" cellspacing="0">
		<thead>
			<tr>
				<th id="tipo">Tipo</th>
				<th id="titulo">Titulo</th>
				<th>Valor</th>
				<th>Estado</th>
			</tr>
		</thead>

		<tbody>
			<% @category.lancamentos_mes(Date.today).each do |e| %>
				<% e.parcelas_mes(Date.today).each do |p| %>
					<%= render "entry_and_part", part: p %>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>