<!DOCTYPE html>
<html>
<head>
	<title>Mepoupe</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<header>
	<%= image_tag("Mepoupe.png")%>
	<h1> MePoupe! </h1>
	<% if user_signed_in? %>
		<div id="saldo">
			<% if(current_user.saldo < 0) %>
				<p id="estadoSaldo" style="color: red;">Saldo: -R$<%= current_user.saldo*-1 %></p>
			<% elsif(current_user.saldo > 0) %>
				<p id="estadoSaldo" style="color: green;">Saldo: R$<%= current_user.saldo %></p>
			<% else %>
				<p id="estadoSaldo" style="color: orange;">Saldo: R$<%= current_user.saldo %></p>
			<% end %>
		</div>
		<%= button_to "Sair", destroy_user_session_path, style: "float: right;", method: :delete %><p style="float: right;">Olá, <%= current_user.email %> </p>
		
		<nav>
			<ul>
				<li>
					<%= link_to "Inicio", home_path, class: "botao" %>
				</li>
				<li>
					<%= link_to "Categorias", categories_path, class: "botao" %>
				</li>
				<li>
					<%= link_to "Lançamentos", entries_path, class: "botao" %>
					<ol>
						<li><%= link_to "Lançamentos", entries_path, class: "botao" %></li>
						<li><%= link_to "Lançamentos", entries_path, class: "botao" %></li>
						<li><%= link_to "Lançamentos", entries_path, class: "botao" %></li>
					</ol>
				</li>
				<li>
					<%= link_to "Metas", goals_path, class: "botao" %>
				</li>
				<li>
					<%= link_to "Relatórios", report_index_path, class: "botao" %>
				</li>
			</ul>
		</nav>
	<% end %>
</header>

<article>
	<%= yield %>
</article>

</body>
</html>
